<ion-view>
  	<ion-content class="ns-budget questionnaire">
  		<div ng-show="displayHint" class="hint-block">
  			<p>In this step please define your budget and frequency plan</p>
  			<button ng-click="closeHint()" class="button button-assertive text-uppercase">ок</button>
  		</div>
  		<div>
	  		<div class="question-text">What`s your budget?</div>
		    <div class="budget-wrapper">
		    		<div class="budget-header money-text">
		    			<i class="icon ion-social-euro"></i>{{' '+ shopper.budget}}
		    		</div>
		    		<div class="budget-header text-uppercase">per month</div>
		    </div>
	    </div>
	    
	  	<div class="item range range-assertive">
		    <input type="range" name="volume" ng-model="shopper.budget" min="150" max="2500" step="25" ng-value="{{budget}}">
	  	</div>
  		<div class="col col-100">
  			<span><i class="icon ion-social-euro"></i>150</span>
  			<span><i class="icon ion-social-euro"></i>2500</span>
  		</div>
		<ul class="list list-center">
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   special occasion
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="special occasion" type="radio" checked>
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   monthly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="monthly" type="radio">
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   quarterly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="quarterly" type="radio">
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   yearly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="yearly" type="radio">
			   </label>
			</li>
		</ul>
  	</ion-content>
</ion-view>