<ion-view>
  	<ion-content class="ns-budget">
	    <div class="budget-wrapper">
	    		<div class="budget-header money-text">
	    			<i class="icon ion-social-euro"></i>{{' '+ shopper.budget}}
	    		</div>
	    		<div class="budget-header text-uppercase">per month</div>
	    </div>
	    
	  	<div class="item range range-assertive">
		    <input type="range" name="volume" ng-model="shopper.budget" min="150" max="2500" step="25" ng-value="{{budget}}">
	  	</div>
  		<div class="col col-100">
  			<span><i class="icon ion-social-euro"></i>150</span>
  			<span><i class="icon ion-social-euro"></i>2500</span>
  		</div>
		<ul class="list list-center">
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   special occasion
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="special occasion" type="radio" checked>
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   monthly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="monthly" type="radio">
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   quarterly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="quarterly" type="radio">
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   yearly
			   <label class="checkbox">
			   <input ng-model="shopper.budgetFrequency" value="yearly" type="radio">
			   </label>
			</li>
		</ul>
  	</ion-content>
  	<ion-footer-bar ng-click="saveData()" class="bar-assertive">
  		<button class="button button-full button-assertive text-uppercase">
		  save
		</button>
  	</ion-footer-bar>
</ion-view>