<ion-view>
  <ion-content class="mh-delivery">
    <div class="list">

	  <a class="item item-icon-right" href="#">
	    Home: {{user.homeAaddress}}
	    <i class="icon ion-ios-arrow-forward"></i>
	  </a>
	  <a class="item item-icon-right" href="#">
	    Work: {{user.workAddress}}
	    <i class="icon ion-ios-arrow-forward"></i>
	  </a>
	  <div class="item">
	  	<div>Default address of delivery:</div>
	   	<div>
	   		<input type="radio" name="group2" value="Water">Work<br>
			<input type="radio" name="group2" value="Beer">Home<br>
	   	</div>

	  </div> 
	</div>
  </ion-content>
</ion-view>