<ion-view>
  <ion-content class="mh-delivery ns-budget">
    <div class="list">

	  <a class="item item-icon-right" ng-click="chMe('home')" href="#/app/user/shopper-account/delivery-form">
	    Home: <br>{{user.homeAddress}}
	    <i class="icon ion-ios-arrow-forward"></i>
	  </a>
	  <a class="item item-icon-right" ng-click="chMe('work')" href="#/app/user/shopper-account/delivery-form">
	    Work: <br>{{user.workAddress}}
	    <i class="icon ion-ios-arrow-forward"></i>
	  </a>
	  <div class="item">
	  	<div>Default address of delivery:</div>
	   	<div><ul>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   home
			   <label class="checkbox">
			   <input ng-model="option.defaultDeliveryAddress" value="home" type="radio">
			   </label>
			</li>
			<li class="item item-checkbox checkbox-assertive text-uppercase">
			   work
			   <label class="checkbox">
			   <input ng-model="option.defaultDeliveryAddress" value="work" type="radio" >
			   </label>
			</li>
		</ul></div>
	  </div> 
	</div>
  </ion-content>
</ion-view>