<ion-view>
  <ion-nav-title>
    <img src="images/avatar.png">
  </ion-nav-title>
	<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-background-light tabs-color-assertive">
		<ion-tab title="balance" icon="ion-social-usd" href="#/app/user/shopper-account/balance">
			<ion-nav-view name="balance-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="budget" icon="ion-ios-sunny" href="#/app/user/shopper-account/budget">
			<ion-nav-view name="budget-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="about" icon="ion-android-person" href="#/app/user/shopper-account/about">
			<ion-nav-view name="about-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="delivery" icon="ion-android-car" href="#/app/user/shopper-account/delivery">
			<ion-nav-view name="delivery-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>