<ion-view view-title="Account">
  <ion-content>
    <div class="row">
	  <div class="col text-center">
	  	<button class="button button-full button-clear icon ion-social-usd button-assertive"></button>
	  </div>
	  <div class="col text-center">
	  	<button class="button button-full button-clear icon ion-ios-sunny-outline button-assertive"></button>
	  </div>
	  <div class="col text-center">
	  	<button class="button button-full button-clear icon ion-android-person button-assertive"></button>
	  </div>
	  <div class="col text-center">
	  	<button class="button button-full button-clear icon ion-android-car button-assertive"></button>
	  </div>
	</div>
  </ion-content>
</ion-view>
