<ion-side-menus>
  <ion-side-menu-content edge-drag-threshold="50">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-title>
        <img class="avatar" src="images/avatar.png">
      </ion-nav-title>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button icon-right ion-navicon-round button-clear" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="assertive-bg text-uppercase" side="right">
    <ion-header-bar align-title="left" class="bar-assertive">
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="button icon-right ion-android-exit button-clear"></button>
      </div>
    </ion-header-bar>

    <ion-content scroll="false" class="text-center side-menu-text">
    <ion-content class="text-center text-uppercase">
      <ion-list>
        <ion-item class="item-assertive" menu-close href="#/app/home">
          <div>home</div><hr>
        </ion-item>
        <ion-item class="item-assertive" menu-close href="#/app/stylist">
          <div>my stylist</div><hr>
        </ion-item>
        <ion-item class="item-assertive" menu-close href="#/app/outfits">
          <div>my outfits</div><hr>
        </ion-item>
        <ion-item class="item-assertive" menu-close href="#/app/account/balance">
          <div>account</div>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="item-assertive" menu-close href="#/app/new-outfit">
          <div>request a new outfit</div><hr>
        </ion-item>
        <ion-item class="item-assertive" menu-close href="#/app/change-stylist">
          <div>change my stylist</div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<!-- <div class="nav-bar-block" nav-bar="active"><ion-header-bar class="bar-assertive bar bar-header" align-title="center"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item" style="transition-duration: 0ms;"><i class="icon ion-ios-arrow-back"></i> 
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"><span class="default-title">Back</span><span class="previous-title hide">undefined</span></span></button><div class="title title-center header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); left: 49px; right: 49px;"><span class="nav-bar-title">
        <img class="avatar" src="images/avatar.png">
      </span></div><div class="buttons buttons-right header-item" style="transition-duration: 0ms;"><span class="right-buttons">
        <button class="button icon-right ion-navicon-round button-clear" menu-toggle="right"></button>
      </span></div></ion-header-bar></div> -->
<!--  <div class="nav-bar-block" nav-bar="active"><ion-header-bar class="bar-assertive bar bar-header" align-title="left"><button ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item"><i class="icon ion-android-arrow-back"></i> 
      <span class="back-text"></span></button><div class="title title-left header-item" style="right: 54px;"><span class="nav-bar-title">
        <img class="avatar" src="images/avatar.png">
      </span></div><div class="buttons buttons-right header-item"><span class="right-buttons">
        <button class="button icon-right ion-navicon-round button-clear" menu-toggle="right"></button>
      </span></div></ion-header-bar></div> -->