<ion-view view-title="My outfits">
  <ion-content>
    <header class="title h2">Want to have it in your wardrobe?</header>
    <div class="item-image">
	    <img src="./images/cd6ba1427c74ef6aad92b857536d91d6.png">
	  </div>
<!--     <div class="button-bar">
  <a class="button">First</a>
  <a class="button">Second</a>
  <a class="button">Third</a>
</div> -->
  </ion-content>
  <div class="bar bar-footer bar-assertive">
		<div class="button-bar text-uppercase">
		  <a class="button button-assertive">no</a>
		  <a class="button button-assertive">yes</a>
		</div>
	</div>
	</div>
</ion-view>