<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button ng-click="showPrevQuestion()">
	    </ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-view name="questions"></ion-nav-view>
	<ion-footer-bar class="bar-assertive">
		<div ng-show="currentQuestion < 5" class="button-bar text-uppercase">
		  <a class="button button-assertive" ng-click="refuse()" ng-href="#/app/sign-up-{{role.type}}/{{'question' + currentQuestion}}">No</a>
		  <a class="button button-assertive" ng-click="accept()" ng-href="#/app/sign-up-{{role.type}}/{{'question' + currentQuestion}}">Yes</a>
		</div>
		<div ng-show="currentQuestion == 5" class="button-bar text-uppercase">
			<a class="button button-full button-assertive icon-right ion-chevron-right" ng-click="accept()" ng-href="#/app/sign-up-{{role.type}}/{{'question' + currentQuestion}}">next step</a>
		</div>
		<div ng-show="currentQuestion == 6" class="button-bar text-uppercase">
		  <a class="button button-assertive text-uppercase">upload</a>
		  <a class="button button-assertive" ng-click="accept()" ng-href="#/app/sign-up-{{role.type}}/{{'question' + currentQuestion}}">skip</a>
		</div>
	</ion-footer-bar>
</ion-view>